* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: url('https://img.freepik.com/free-vector/gradient-purple-blue-wave-background-abstract_343694-3759.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.app-container {
  text-align: center;
  width: 90%;
  max-width: 500px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

h1.title {
  font-size: 3rem;
  color: #1976d2;
  margin-bottom: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  color: black;
}

.text-input {
  padding: 15px;
  border-radius: 10px;
  border: 2px solid #1976d2;
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
  transition: border-color 0.3s, box-shadow 0.3s;
  font-size: 1rem;
  color: black !important;
}

.text-input::placeholder {
  color: black;
  opacity: 1;
}

.text-input:focus {
  border-color: #0d47a1;
  box-shadow: 0 0 5px rgba(13, 71, 161, 0.5);
  outline: none;
  color: black;
}

.check-button {
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  background-color: #1976d2;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.check-button:hover {
  background-color: #0d47a1;
  transform: translateY(-2px);
}

.results {
  margin-top: 20px;
  text-align: left;
}

.loading-message {
  font-size: 1.2rem;
  color: #1976d2;
}

.error-message {
  color: red;
}

.results-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.results-list {
  list-style-type: none;
  padding: 0;
}

.result-item {
  background: #f9f9f9;
  padding: 15px;
  margin: 5px 0;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, background 0.2s, opacity 0.5s ease;
  opacity: 0;
  transform: translateY(10px);
}

.result-item.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.result-item:hover {
  transform: scale(1.02);
  background: #f1f1f1;
}

.star {
  color: #ddd;
  font-size: 1.5rem;
  margin-right: 3px;
}

.star.filled {
  color: #ffcc00;
}
